.carousell-container {
    background: #F8F9FC;
    margin: 120px 0 0 0;
}

.custom-carousell {
    max-width: 1200px;
    margin: 50px auto 0 auto;
    text-align: center;

    h1 {
        font-size: 60px;
        margin-left: 10px;
        color: #356277;
    }

    p {
        margin-left: 15px;
    }

}

.casousell-text {
    position: absolute;
    top: 0;
    left: 50px;
    z-index: 9999;
}

.alice-carousel__stage-item * {
    text-align: center;
    color: brown;
}