// colors

$white: #fff;
$red: #f50057;

$skills-bg: #f6f6f6;
$blacktitle: #222222;


// media quieries

// Mobile: 360 x 640
// Mobile: 375 x 667
// Mobile: 360 x 720
// iPhone X: 375 x 812
// Pixel 2: 411 x 731
// Tablet: 768 x 1024
// Laptop: 1366 x 768
// High-res laptop or desktop: 1920 x 1080

$breakpoint-xs: 360px;
$breakpoint-sm: 375px;
$breakpoint-md: 360px;



/* CSV */
// 264653,2a9d8f,e9c46a,f4a261,e76f51



/* Object */
// {"Charcoal":"264653","Persian Green":"2a9d8f","Orange Yellow Crayola":"e9c46a","Sandy Brown":"f4a261","Burnt Sienna":"e76f51"}